<section class="home-section successful_payment">
<nav>
      <%= link_to raw('<i class="fa-solid fa-arrow-left-long"></i>'), category_deal_path %>
      <h1>PAYMENT</h1>
      <i class="fa-solid fa-magnifying-glass fa-shake fa-sm" style="color: #fff;"></i>
 </nav>
   <div class="icon_completed">
     <i class="fa-solid fa-circle-check fa-beat fa-xl" style="color: #5fb523;"></i>
      <h3>Complete</h3>
      <p>Payment Was Completed Successfully!</p>
   </div>
 </section>